/*Estilos BAse*/

nav{
    background-color: red;
    width: 100%;
    text-align: center;
    height: 1em;
}
a{
    display: inline;
    color: white;
    background-color: black;
    padding: 10px;
    text-align: centert

}




/*Cuando pase de la medida de ancho de 1260px, vuelve a los estilos base de la pagina*/
@media (max-width: 1260px){
    nav{
        background-color: blue;
        width: 100%;
        text-align: center;
    }
    a{
        display: block;
        color: red;
        background-color: black;
        padding: 10px;
        text-align: center;

    }
}
